@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    height: 100vh;
}

section{
    height: 100vh;
    text-align: center;
}

.box{
    width: 200px;
    height: 200px;
    background-color: red;
}

section.dark{
    text-align: left;
    background: rgb(27, 27, 27);
    color: white;
    position: relative;
}

img{
    width: 50%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    right: 0;
    top: 0;
    z-index: 0;
}

.content{
    padding: 9em 5em;
    z-index: 1;
    position: relative;
}

.content h2{
    font-size: 5em;
    margin-bottom: 0;
}

.content p{
    font-size: 1.6em;
}